

.team-name {
    background-color: #099d8d;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: white;
}

.top-menu {
    background-color: #14d9c4;
}
.sandw1 {
    width: 290px;
    height: 45px;
    color: black;
    background-color: blueviolet;
}