<footer class="footer-elements">


   <span class="name-group">Nombre del grupo &copy; 2023</span>
   <ul class="footer-list">
      <li class="final-list"><a class="enlaces" href="#equipo">EQUIPO</a></li>
      <li class="final-list"><a class="enlaces" href=" #about-us">QUIÉNES SOMOS</a></li>
      <li class="final-list"><a class="enlaces" href=" hacia html contacto" target="_blank">CONTACTO</a></li>
   </ul>
   <img class="logo-footer" src="../images/logo-adalab.webp" alt="Logo de Adalab">

</footer>