<footer class="footer-elements">


   <span class="name-group">Juntas y Motivadas &copy; 2023</span>
   <ul class="footer-list">
      <li class="final-list"><a class="enlaces" href="./index.html#team">EQUIPO</a></li>
      <li class="final-list"><a class="enlaces" href="./index.html#about-us">QUIÉNES SOMOS</a></li>
      <li class="final-list"><a class="enlaces" href="./contact.html" target="_blank">CONTACTO</a></li>
   </ul>
   <img class="logo-footer" src="./images/logo-adalab.webp" alt="Logo de Adalab">

</footer>