<div class="img">
    <img class="img-contact" src="../images/hero-contact.jpg" alt="Cuaderno para anotar ideas"
        title="cuaderno para anotar ideas">
</div>
<section class="info">

    <h2 class="title-contact">CONTACTO</h2>
    <article>
        <p class="description-contact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime tempora
            numquam quis facere ex
            consequatur
            explicabo repellat. Adipisci repellendus accusantium enim quisquam mollitia quod ab assumenda blanditiis
            fugiat
            natus.</p>
        <p class="required">
            Todos los campos marcados con <span class="asterisc">*</span> son obligatorios.
        </p>
    </article>
</section>
<section class="form">
    <form class="formulary" id="server" action="https://formspree.io/f/mwkdjlal" method="post">
        <label class="field" for="name">Nombre completo<span class="asterisc"> *</span></label>
        <input class="input" type="text" id="name" name="complete name" placeholder="Nombre..."
            title="Escribe tu nombre y apellidos" required />
        <label class="field" for="email">Email<span class="asterisc"> *</span></label>
        <input class="input" type="email" id="email" name="email" placeholder="nombre.apellidos@mail.com"
            title="Escribe tu email de contacto" required />
        <label class="field" for="phone">Teléfono </label>
        <input class="input" type="tel" id="phone" name="telephone" placeholder="Ej: 123456789"
            title="Escribe tu teléfono" />
        <label class="field" for="notes">Mensaje <span class="asterisc"> *</span></label>
        <input class="input--text" type="text" id="notes" name="comments" placeholder="¿Qué necesitas?"
            title="Escribe tu petición" required />
        <input class="submit" type="submit" value="ENVIAR" />
    </form>
</section>