<section class="skills">
  <div class="diamond"></div>
  <div class="skills1">
    <div class="strengths">
      <article class="strengths_1">Fortalezas</article>
      <span class="strenghts_2"
        >Somos un gran equipo que se complementa en cuanto a conocimientos y
        habilidades. Tenemos una gran comunicación entre nosotras que nos
        permite resolver todas las dificultades que se nos ponen por delante,
        además nos apoyamos y cuidamos entre todas.</span
      >
    </div>
    <div class="weaknesses">
      <article class="weaknesses_1">Debilidades</article>
      <span class="weaknesses_2"
        >Aunque trabajamos muy bien juntas, somos conscientes de que llevamos
        poco tiempo en este mundillo, tenemos todas las herramientas pero puede
        ser que nos tome un poquito más de tiempo resolver ciertos
        conflictos.</span
      >
    </div>
  </div>
</section>
