<section class="sandw">
   <article class="sandw_1">Fortalezas</article>
   <span class="sandw_11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quisquam eaque
      aperiam
      facere saepe ipsa aliquam vitae delectus deleniti! Suscipit ad provident et maiores quisquam sequi
      consequuntur
      accusantium inventore? Similique!</span>
   <article class="sandw_2">Debilidades</article>
   <span class="sandw_12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, saepe dolore?
      Nihil
      rerum omnis id et maiores excepturi. Quas molestias recusandae, dolorem ab corrupti explicabo!
      Reiciendis dolorem voluptas
      iure quibusdam?</span>
</section>