<section class="sandw">
   <div class="diamond">
      <article class="rectangle"></article>
   </div>
   <article class="sandw_1">Fortalezas</article>
   <span class="sandw_11">Somos un gran equipo que se complementa en cuanto a conocimientos y
      habilidades. Tenemos una gran comunicación entre nosotras que nos
      permite resolver todas las dificultades que se nos ponen por delante,
      además nos apoyamos y cuidamos entre todas.</span>
   <article class="sandw_2">Debilidades</article>
   <span class="sandw_12">Aunque trabajamos muy bien juntas, somos conscientes de que llevamos
      poco tiempo en este mundillo, tenemos todas las herramientas pero puede
      ser que nos tome un poquito más de tiempo resolver ciertos
      conflictos.</span>
</section>