<header class="header">
   <section class="fixed">
      <div class="team-name">
         <a class="team-name-h1" href="../index.html">Juntas y motivadas</a>
      </div>
      <nav class="top-menu">
         <ul class="menu-list">
            <il>
               <a class="menu-item" href="#team">Equipo</a>
            </il>
            <il>
               <a class="menu-item" href="#about-us">Quiénes somos</a>
            </il>
            <il>
               <a class="menu-item" href="../contact.html">Contacto</a>
            </il>
         </ul>
      </nav>
   </section>
</header>