<header class="header">
   <section class="fixed">
      <div class="team-name">
         <a class="team-name-h1" href="./index.html">Juntas y motivadas</a>
      </div>
      <nav class="top-menu">
         <ul class="menu-list">
            <il>
               <a class="menu-item" href="./index.html#team">Equipo</a>
            </il>
            <il>
               <a class="menu-item" href="./index.html#about-us">Quiénes somos</a>
            </il>
            <il>
               <a class="menu-item" href="./contact.html" target="_blank">Contacto</a>
            </il>
         </ul>
      </nav>
   </section>
</header>