<header class="header">
   <section class="fixed">
      <div class="team-name">
         <h1 class="team-name-h1">Juntas y motivadas</h1>
      </div>
      <nav class="top-menu">
         <ul class="menu-list">
            <il>
               <a class="menu-item" href="#team">Equipo</a>
            </il>
            <il>
               <a class="menu-item" href="#about-us">Quiénes somos</a>
            </il>
            <il>
               <a class="menu-item" href="#contact">Contacto</a>
            </il>
         </ul>
      </nav>
   </section>
</header>