<section id="team" class="team">
   <h2 class="team-title" id="equipo">EQUIPO</h2>
   <article class="description">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate saepe at ex
         asperiores debitis,
         libero ea magni autem exercitationem mollitia alias dolor deserunt doloremque aliquid, officiis
         distinctio
         et
         dicta sunt! </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic excepturi rem facilis
         dolorem, repudiandae
         reiciendis iusto itaque, quidem doloribus temporibus eius voluptatem veritatis cupiditate laborum
         accusantium
         vero, earum velit qui!</p>
   </article>
</section>