<section id="team" class="team">
   <h2 class="team-title" id="equipo">EQUIPO</h2>
   <article class="description">
      <p> Todo nuestro trabajo se basa en el apoyo mutuo, en compartir nuestros conocimientos y destrezas. No lo sabemos
         todo, pero tenemos las herramientas para encontrar la solución a todos los problemas que se nos presenten.
         Trabajamos en equipo, repartiendo tareas y ayudándonos cuando una de nosotras lo necesita.
      <p> Además compartimos mucho más allá del código, también somos equipo fuera del trabajo, nos encanta compartir
         una tarde de cervecita o un fin de semana en el pueblo. </p>
      </p>
   </article>
</section>