@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";
@import "style.scss";

.header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.fixed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--tertiary-color);
}

.team-name {
  font-family: var(--font-family);
  height: 6rem;
  font-size: 1.6rem;
  margin: auto;
  text-transform: uppercase;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-h1 {
    font-family: var(--font-family);
    font-size: 1.6rem;
    margin: auto;
    text-transform: uppercase;
    color: var(--text-color);
    text-decoration: none;
  }
}

.top-menu {
  background-color: var(--primary-color);
  height: 45px;
  font-family: var(--font-family);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 8px;
}

.menu {
  &-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
  }
  &-item {
    text-decoration: none;
    color: var(--text-color);
  }
}

.hero {
  height: calc(100vh - 105px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-img {
  height: 150vh;
}

.motto {
  background-color: var(--text-color);
  height: 80px;
  width: 90vw;
  position: absolute;
  left: 5vw;
  top: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  &-text {
    font-size: 1.8rem;
    font-family: var(--opensans-font);
    font-weight: 600;
    width: 80vw;
    line-height: 1.2;
  }
}

.team {
  padding: 1.5rem;
  width: 32rem;
  height: 50.4rem;
  margin: 2rem auto 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  &-title {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: 500;
    width: 15rem;
    height: 4.5rem;
    font-size: 2.4rem;
    margin: 0 auto 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    line-height: 1.88;
  }
  .description {
    color: var(--secundary-color);
    font-size: 1.6rem;
    text-align: center;
    width: 29rem;
    height: 38.4rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
    font-family: var(--opensans-font);
    line-height: 1.5;
  }
}

.name-group {
  color: var(--quaternary-color);
  font-family: opensans;
  margin: auto;
  text-align: center;
  color: var(--tertiary-color);
}
.skills {
  position: relative;
  padding: 30px 15px 45px;
  background-color: var(--quaternary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  .diamond {
    position: absolute;
    width: 29.9px;
    height: 30px;
    transform: rotate(45deg);
    background-color: var(--text-color);
    top: -15px;
  }
  .skills1 {
    display: flex;
    flex-direction: column;
  }
}
.strengths_1,
.weaknesses_1 {
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 2.05;
  color: var(--tertiary-color);
  margin: 15px 0 0;
}
.strenghts_2,
.weaknesses_2 {
  font-family: var(--opensans-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--secundary-color);
}

.about-us {
  display: flex;
  flex-direction: column;
}
.container-article {
  display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.container-article2 {
  display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.container1 {
  font-family: var(--opensans-font);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0 5% 5%;
  font-size: 1.6rem;
}
.container2 {
  font-family: var(--opensans-font);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0 5% 5%;
  font-size: 1.6rem;
}

.tittle-about-us {
  font-family: "Rubik";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.88;
  color: #099d8d;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.name-adalaber {
  width: 100vw;
  height: 45px;
  font-family: var(--opensans-font);
  font-size: 2rem;
  line-height: 2, 25;
  /*text-align: center;*/
  color: black;
  display: flex;
  justify-content: center;
 /* flex-direction: column;*/
  align-items: center;
}
.name-adalaber2 {
  width: 100vw;
  height: 45px;
  font-family: var(--opensans-font);
  font-size: 2rem;
  line-height: 2, 25;
  /*text-align: center;*/
  color: black;
  display: flex;
  justify-content: center;
  /*flex-direction: column;*/
  align-items: center;
}

.description-adalaber {
  display: flex;
  color: #54585a;
  /*width: 290px;*/
  /*justify-content: center;
  align-items: center;*/
  padding: 15px 25px;
  /*text-align: center;*/

}

.img-adalaber {
  display: flex;
  width: 50vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 5px lightgrey;
  border-radius: 0.5rem;
}

.redes-adalaber {
  list-style: none;
  text-decoration: none;
  display: flex;
  column-gap: 1.5rem;
  padding-top: 1rem;
  justify-content: center;
}
.redes-adalaber2 {
  list-style: none;
  text-decoration: none;
  display: flex;
  column-gap: 1.5rem;
  padding-top: 1rem;
  justify-content: center;
}
.icon-rrss::after {
  content: " · ";
}

.footer-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3rem 5rem 4.5rem;
  background-color: white;
  border-top: solid 0.1rem var(--quaternary-color);
  .name-group {
    margin: 0 0 2rem;
    color: var(--quaternary-color);
    font-size: 1.4rem;
    font-family: var(--opensans-font);
    text-align: center;
    line-height: 1.43;
  }
  .footer-list {
    font-size: 1.4rem;
    font-family: var(--opensans-font);
    color: var(--secundary-color);
    font-weight: 600;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    line-height: 1.43;
    opacity: 0.75;
    .enlaces {
      text-decoration-line: none;
      color: var(--secundary-color);
    }
  }
  .logo-footer {
    width: 11.59rem;
    height: 4.5rem;
    margin: 3rem 2.81rem 0 2.8rem;
  }
}

@media (min-width: 768px) {
  .fixed {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 46px;
    padding-right: 46px;
  }

  .hero {
    height: calc(100vh - 60px);
  }

  .team-name {
    margin: 0;
  }

  .top-menu {
    background-color: var(--tertiary-color);
  }

  .menu-list {
    gap: 19px;
  }

  .motto {
    opacity: 0.8;
    z-index: 99;
    width: 60vw;
    position: absolute;
    top: calc(100vh - 80px);
  }

  .motto-text {
    opacity: 1;
  }

  .container__team-img {
    height: 100vh;
  }
  .team {
    width: 76.8rem;
    height: 26rem;
    margin: 1.5rem auto;
    padding: 1rem;
    &-title {
      color: var(--tertiary-color);
    }
    .description {
      opacity: 0.67;
      width: 67.8rem;
      height: 16.8rem;
      margin: 1.5rem 0 0;
      opacity: 0.67;
    }
  }
  .tittle-about-us {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
  .adalabers {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .container1 {
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    align-items: flex-start;
    padding: 0 44px 67px 44px;
  }
  
  .container2 {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    text-align: right;
    align-items: flex-start;
    padding: 0 44px 67px 44px;
  }
  .container-article {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
  }
  .container-article2 {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    text-align: revert;
  }

  .img-adalaber {
    width: 20.5rem;
    height: 20.5rem;
    border: solid 45x lightgrey;
  }

  .name-adalaber {
    align-items: flex-start;
    width: -webkit-fill-available;
    text-align: left;
    justify-content: left;
  }
  .name-adalaber2 {
    width: 795px;
    flex-direction: column;
    align-items: end;
    text-align: right;
    width: -webkit-fill-available;
    height: 45px;
    font-family: var(--opensans-font);
    font-size: 2rem;
    color: black;
    display: flex;
  }
  .description-adalaber {
    padding: 15px 0 15px 0;
  }
  .redes-adalaber {
    width: -webkit-fill-available;
    justify-content: left;
    text-align: left;
    color: #099d8d;
  }
  .redes-adalaber2 {
  color: #099d8d;
  list-style: none;
  text-decoration: none;
  display: flex;
  column-gap: 1.5rem;
  padding-top: 1rem;
  width: -webkit-fill-available;
  justify-content: right;
  text-align: right;
  }
  .diamond {
    justify-content: center;
  }

  .skills {
    width: 100%;
    height: auto;
    margin: 16px 0 0;
    padding: 45px 44.8px 50px 45px;
    background-color: var(--quaternary-color);
    flex-direction: column;
    .skills1 {
      flex-direction: row;
      justify-content: space-around;
      gap: 80px;
      .strengths {
        width: 100%;
      }
      .weaknesses {
        width: 100%;
      }
    }
  }
  .footer-elements {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 6rem 6rem;
    grid-template-areas:
      "una dos"
      "tres cuatro";
    margin: 4.5rem 0 3rem;
    padding: 1rem 4.5rem;
    .name-group {
      margin: 0;
      width: 25rem;
      text-align: left;
    }
    .footer-list {
      margin: 0;
      order: 3;
      grid-row: span 2;
      grid-column: dos;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      list-style: none;
      line-height: 2.14;
    }
    .logo-footer {
      grid-area: tres;
      display: flex;
      align-items: flex-start;
      margin: 0;
    }
  }  
}
@media (min-width: 1200px) {
  .team {
    width: 120rem;
    height: 32rem;
    margin: 2rem auto;
    padding: 2.5rem;
  }

  .description {
    width: 60.1rem;
    height: 19.2rem;
  }

  .tittle-about-us {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  
  .img-adalaber {
    width: 28rem;
    height: 28rem;
    border: solid 6.7px lightgrey;
    border-radius: 5.4px;
  }
  .container1 {
    padding-left: 138px;
    padding-right: 300px;
  }
 .container2 {
  padding-left: 300px;
  padding-right: 138px;
 }
  .footer-elements {
    padding: 1rem 13.8rem;
  }
}
